@import url('https://fonts.googleapis.com/css?family=Martian+Mono');

:root {
  --color-primary--light: hsl(280, 100%, 77%);
  --color-primary--lighter: hsl(280, 100%, 85%);
  --color-primary--dark: #d70090;
  --color-primary--darker: #b8007a;

  --color-secondary-dark: #2d3439;
  --color-secondary-dark-transparent: #2d3439e9;
  --color-secondary-light: #aaa;

  --color-tetriary-dark: #797e83;
  --color-tetriary-light: #ffffffae;

  --color-quaternary-dark: #42484d6c;
  --color-quaternary-light: #d6dee0aa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

html {
  font-size: 62.5%; /* changes 1 rem from being 16 pixels into 10 pixels */
}

.body {
  font-family: 'Martian Mono', sans-serif;
  color: black;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-size: 1.5rem;
  padding: 25px;
  background-image: url(/img/light.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container__box {
  border-radius: 1rem;
  background: var(--color-tetriary-light);
  padding: 20px;
  margin: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--color-secondary-light);
}

.container__colorMode {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  position: absolute;
}

.container__app {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin: 10vh auto;
  align-items: stretch;
}

.container__wrapper--roller {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

/* control panel */

.container__controlPanel {
  flex-grow: 0;
}

.controlPanel__form {
  height: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

/* form */

.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.inputContainer__span {
  width: 3rem;
  margin: auto;
}

.inputContainer__input {
  border-radius: 5rem;
  height: 2rem;
  width: 4rem;
  border: none;
  color: var(--color-secondary-dark);
  text-align: center;
  margin: auto;
  font-family: 'Martian Mono', sans-serif;
}

.form__btn {
  border: none;
  border-radius: 1rem;
  background-color: var(--color-primary--dark);
  color: white;
  padding: 1rem 1.5rem;
  font-weight: bolder;
  font-size: 2rem;
  transition-duration: 0.4s;
}

.form__btn:hover {
  background-color: var(--color-primary--darker);
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.24),
    0 1rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.inputContainer__input:focus {
  border: 0.2rem solid var(--color-primary--dark);
  outline: var(--color-primary--dark);
}

.inputContainer__input:hover {
  border: 0.2rem solid var(--color-primary--darker);
  outline: var(--color-primary--darker);
}

/* results */

.container__results {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.container__results--span {
  display: flex;
  justify-content: center;
}

.results__rollContainer {
  display: flex;
  flex-wrap: wrap;
}

.results__rollContainer--roll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results__rollContainer--sum {
  transform: translateY(57.5%);
  padding-left: 1.2rem;
}

/* header */

.container__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 20vh;
  text-align: center;
}

.header {
  color: var(--color-primary--dark);
  text-shadow: 0.2rem 0.2rem var(--color-secondary-light);
  font-size: clamp(2.5rem, 1rem + 8vw, 6.5rem);
}

/* footer */

.container__footer {
  font-size: 1.2rem;
  display: flex;
  position: relative;
  padding-left: 1rem;
}

/* icons */

.icon__btn {
  width: 16px;
  height: 16px;
  background: none;
  border: none;
  filter: drop-shadow(2px 2px 2px var(--color-light--2));
}

.icon__btn:hover {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  filter: invert(21%) sepia(88%) saturate(4307%) hue-rotate(305deg)
    brightness(80%) contrast(121%)
    drop-shadow(2px 2px 2px var(--color-tetriary-dark));
}

.icon__btn--plus {
  background: url('/img/plus.png') center;
  background-size: 16px;
  align-self: center;
}

.icon__btn--minus {
  background: url('/img/minus.png') center;
  background-size: 16px;
  align-self: center;
}

.icon__btn--moon {
  background: url('/img/moon.png') center;
  border: none;
  width: 32px;
  height: 32px;
  background-size: 32px;
}

.icon {
  margin: 0 10px 0 10px;
  filter: invert(21%) sepia(88%) saturate(4307%) hue-rotate(305deg)
    brightness(80%) contrast(121%);
}

.icon--dice {
  width: 32px;
}

/* animation for rolling dice */

.rotate {
  animation: rotation 0.25s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* scrollbar */

.scroll::-webkit-scrollbar {
  width: 16px;
}

.scroll::-webkit-scrollbar-track {
  background-color: var(--color-quaternary-light);
  border-radius: 100px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-primary--dark);
  border-radius: 100px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary--darker);
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-quaternary-light);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary--dark);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary--darker);
}

.hidden {
  opacity: 0;
}

@media (max-width: 800px) {
  .container__wrapper--roller {
    flex-direction: column;
    overflow: auto;
  }

  .container__app {
    height: auto;
  }
}

@media (max-height: 850px) {
  .container__controlPanel {
    overflow: auto;
  }

  .controlPanel__form {
    gap: 1rem;
  }
}

@media (max-height: 720px) {
  .controlPanel__form {
    gap: 0.5rem;
  }
}
